@page "/"
@rendermode InteractiveServer
@using Numerous.Database.Context
@using Numerous.Web.Auth
@inject IUnitOfWork Db
@inject NavigationManager Nav

<PageTitle>Numerous Verification</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (_verified)
        {
            <span>Verification successful! You may now close this tab.</span>
        }
    </Authorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    private bool _verified;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;

        if (authState.User.Identity?.IsAuthenticated != true)
        {
            Nav.NavigateTo("/Login");

            return;
        }

        var userId = authState.GetUserId();

        if (userId is null || (await Db.OsuUsers.FindByDiscordUserIdAsync(userId.Value))?.Id is null)
        {
            Nav.NavigateTo("/Connect");
        }
        else
        {
            _verified = true;
        }
    }
}
