name: Continuous Deployment

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Publish"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy
      uses: appleboy/ssh-action@v1.1.0
      with:
        host: ${{ vars.HOST }}
        username: ${{ vars.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd ${{ vars.DEPLOY_PATH }}
          ./run.sh
